.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
body {
  /* background: rgb(38, 112, 175); */
  /* background: #25274D */
  background: #8dc6e6;
  /* background: linear-gradient(to top,#87c9ef, #659DBD); */
  height: 100%;
}

.weather-logo {
  text-align: left;
  margin-left: 2%;
  height: 20px;
  color: white;
  margin-bottom: 5%;
}