.hourly-item {
  /* display: inline-block; */
  color: #301e67;
  /* text-align: center; */
  padding: 14px;
  /* text-decoration: none; */
  flex: 0 0 auto;
  display: inline-block;
  border-right-style: groove;
}