.hourly-item {
  /* display: inline-block; */
  color: #301e67;
  /* text-align: center; */
  /* margin: 14px; */
  margin-left: 10px;
  padding-right: 10px;
  /* text-decoration: none; */
  flex: 0 0 auto;
  display: inline-block;
  border-right-style: groove;
}
