@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-page-container {
  /* color: #FBEEC1; */
  /* color: #AAABB8;
  background: #464866; */
  /* background: #DAAD86; */
  margin: auto;
  width: 70%;
  color: white;
  /* background: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.5)); */
  background-color: white;
  border-radius: 15px;

};

.weather-container-list {
  display: flex;
  flex-direction: column;
  color: white;
}

#searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}