@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-page-container {
  margin: auto;
  width: 70%;
  color: white;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
};

.weather-container-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
.search-box {
  width: 95%;
  text-align: center;
}
#searchTerm {
  /* width: 100%; */
  /* border: 3px solid #00B4CC; */
  /* border-right: none; */
  /* padding: 5px;
  height: 20px;
  border-radius: 15px;
  outline: none; */
  /* color: #9DBFAF; */
  width: 95%;
  height: 100%;
  padding: 1%;
  font-size: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
